# Google Sheets API (service account)
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
SHEET_ID=1AEZoTw-NeAz6ReOBOyN-9dzzcV5aIb4eKHS60qMOhSw
SHEET_TAB_RENEWALS=Sheet1
SHEET_TAB_PROPERTIES=Sheet2
